.card{
    width: 15rem;
    border-radius: 5%;
    background: #28346c;
    color: #fff;
    margin-left:3%;
    float: left;
    height:250px;
  }
  .card:hover { transform: scale(1.1); }
  .card-img-top{
    width:100%;
    height:100px;
  }
  
 
  .card> h3> p{
      color:white;
      text-decoration: none;
  }
