
.imgconatiner{
    background-image:url("https://i.ibb.co/hYdSJdy/indian-food-india.jpg");
   height:75vh;
   background-repeat:none;
   background-size:cover;
   text-align:center;
   overflow:hidden;
   object-fit:cover;
   border-color:White;
   border-style:solid;
   
 }


.e{
    
    margin:auto;
    color: whitesmoke;
    font-family: Poppins;
    font-size: 65px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.heading{
    
    margin:auto;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    text-align: center;
    color:whitesmoke;
    margin-top:20px;
    margin-bottom:40px;

}
.locationselector{
    margin-top:65px;
    margin-bottom:60px;
    text-align: center;
  
    }

.selectlocation{
  width:220px;
  height:40px;
  border-radius:2px solid gray;
  font-size:20px;
  

  border:none;

  
}
.restinput{
  
  width:600px;
  height:40px;
  font-size:20px;
  border-radius:2px solid gray;
 border:none;
}
