.login{
	display:flex;
	height:70vh;
	flex-direction: column;
	align-items:center;

}
.login_logo{
	margin-top:20px;
	margin-bottom:20px;
	object-fit:contain;
	width:100px;
	margin-right:auto;
	margin-left:auto;
}

.login_conatiner{
	width:300px;

	display:flex;
	flex-direction: column;
	border-radius:5px;
	border:1px solid lightgray;
	padding:20px;
}
.login_conatiner > h1{
	font-weight:30px;
	margin-bottom:20px;
}
.login_conatiner > form > h5{
	margin-bottom:20px;

}
.login_conatiner > form > input{
	height:30px;
	margin-bottom:10px;
	background-color:white;
	width:98%;
}

.login_conatiner > p{
	margin-top:15px;
	font-size:12px;

}

.login_signInButton{
	background:red;
	border-radius:2px;
	width:100%;
	height:30px;
	border:1px solid lightgray;
	margin-top:10px;
	border-color:#a88734 #9c7e31 #846a29;
	
}
.login_registerButton{
	border-radius:2px;
	width:100%;
	height:30px;
	border:1px solid ;
	margin-top:10px;
	border-color:darkgray;

}


